/*personal.css*/
body	{
	margin: 0px;
	padding: 0px;
	background-color: 	#484452;
}

.cabecera	{
	margin: 0;
	margin: 0px auto;
	height: 400px;
	background-color: #40B8AF;
}
.cabecera img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border: 10px solid #E0CC97;
}
.contenido	{
	height: 960px;
	background-color: #C7AFBD;
	border-left: 50px solid #484452;
	border-right: 50px solid #484452;
	
}
.texto{
	margin: 0px;
	height:400px;
	background-color: #E0CC97;
	border-left: 20px solid #C7AFBD;
	border-right: 20px solid #C7AFBD;

}